p {
  margin: 0
}
.container {
  height: 100vh;
}


.v-center {
  min-height: 100%;  
  display: flex;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.applicant-table-row:hover {
  cursor: pointer;
}

.applicant-table-toast {
  background-color: transparent !important;
  border: none !important;
}

.applicant-table {
  margin-top: 75px;
}